*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#container_numbers{

    display: flex;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    height: 250px;
    
}
.eth{

    flex: 20%;
    border: 1px solid black;
    height: 10%;
    text-align: center;
}
.time{

    flex: 20%;
    height: 10%;
    border: 1px solid blueviolet;
    text-align: center;
}
.rsi1{

    flex: 20%;
    height: 10%;
    border: 1px solid rgb(182, 96, 96);
    text-align: center;
    color: #8a8abb;
}

.price1{

    flex: 20%;
    height: 10%;
    text-align: center;
    background: rgb(191, 191, 236);
    border: 1px solid rgb(73, 54, 117);
}

#container_title{

    display: flex;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    height: 80px;
    border: 1px solid rgb(62, 180, 184);
}

.symbol{
   flex: 20%;
   height: 30%;
   text-align: center;
   border: 1px solid black ;
}

.frame{
    flex: 20%;
    height: 30%;
    text-align: center;
    border: 1px solid black ;
}
.rsi{
    flex: 20%;
    height: 30%;
    text-align: center;
    border: 1px solid black ;
}

.price{
    flex: 20%;
    height: 30%;
    text-align: center;
    border: 1px solid black ;
}

